In [1]:
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (1.1.0)

In [2]:
# Import da biblioteca

import pandas as pd

**DataFrames**

In [3]:
df_principal = pd.read_excel("E:/WorkSpace/Análise exploratória/analise_exploratoria/acoes.xlsx", sheet_name="Principal")
df_principal

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume,Variação %,Valor Inicial (R$),Quantidade de Acessos,Variação $,Resultado,Empresa,Segmento,Idade,Categoria Idade
0,USIM5,1/26/2024,9.50,5.20,11.76,2.26,2.26,15.97,9.18,9.56,"319,16 M",0.0520,9.030418,515117391,2.418897e+08,Subiu,Usiminas,Siderurgia,60,Mais de Cinquenta Anos
1,CMIN3,1/26/2024,6.82,2.40,2.40,-12.11,-12.11,50.56,6.66,6.86,"32,65 M",0.0240,6.660156,1110559345,1.775160e+08,Subiu,CSN Mineração,Mineração,10,Menor que Cinquenta Anos
2,PETR3,1/26/2024,41.96,2.19,7.73,7.64,7.64,77.55,40.81,42.34,"436,69 M",0.0219,41.060769,2379877655,2.140059e+09,Subiu,Petrobras,Petróleo e Gás,69,Mais de Cinquenta Anos
3,SUZB3,1/26/2024,52.91,2.04,2.14,-4.89,-4.89,18.85,51.89,53.17,"162,55 M",0.0204,51.852215,683452836,7.229463e+08,Subiu,Suzano,Papel e Celulose,98,Mais de Cinquenta Anos
4,CPFE3,1/26/2024,37.10,2.03,2.49,-3.66,-3.66,20.70,36.37,37.32,"73,42 M",0.0203,36.361854,187732538,1.385740e+08,Subiu,CPFL Energia,Energia,109,Mais de Cem Anos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-9.47,-13.98,-13.98,-32.72,10.70,11.08,"38,19 M",-0.0245,10.978985,533990587,-1.436355e+08,Desceu,Carrefour Brasil,Varejo,36,Menor que Cinquenta Anos
77,BHIA3,1/26/2024,8.70,-2.46,-6.95,-23.55,-23.55,-85.74,8.67,8.95,"27,54 M",-0.0246,8.919418,94843047,-2.081024e+07,Desceu,Casas Bahia,Varejo,70,Mais de Cinquenta Anos
78,RENT3,1/26/2024,56.24,-3.63,-6.41,-11.57,-11.57,-2.77,56.04,58.90,"624,74 M",-0.0363,58.358410,853202347,-1.807433e+09,Desceu,Localiza,Aluguel de Carros,49,Menor que Cinquenta Anos
79,CVCB3,1/26/2024,3.07,-4.36,-5.54,-12.29,-12.29,-36.83,3.05,3.23,"101,46 M",-0.0436,3.209954,525582771,-7.355741e+07,Desceu,CVC,Turismo,50,Menor que Cinquenta Anos
80,GOLL4,1/26/2024,5.92,-8.07,-15.91,-34.00,-34.00,-25.44,5.51,6.02,"154,36 M",-0.0807,6.439682,198184909,-1.029932e+08,Desceu,GOL,Transporte (Aéreo),21,Menor que Cinquenta Anos

In [4]:
df_total_acoes = pd.read_excel("E:/WorkSpace/Análise exploratória/analise_exploratoria/acoes.xlsx", sheet_name="Total_de_acoes")
df_total_acoes

                      Código  Qtde. Teórica
0                      RRRP3   2.356656e+08
1                      ALOS3   5.326166e+08
2                      ALPA4   1.767340e+08
3                      ABEV3   4.394246e+09
4                      ARZZ3   6.230589e+07
..                       ...            ...
84                     VBBR3   1.114413e+09
85                     WEGE3   1.481593e+09
86                     YDUQ3   2.893479e+08
87  Quantidade Teórica Total   9.637210e+10
88                   Redutor   1.704785e+07

[89 rows x 2 columns]

In [5]:
df_ticker = pd.read_excel("E:/WorkSpace/Análise exploratória/analise_exploratoria/acoes.xlsx", sheet_name="Ticker")
df_ticker

    Ticker            Nome
0    MGLU3  Magazine Luiza
1    HAPV3         Hapvida
2    PETR4       Petrobras
3    B3SA3              B3
4    USIM5        Usiminas
..     ...             ...
530  TKNO3           Tekno
531  COCE6          Coelce
532  MGEL3         Mangels
533  CTSA8      Santanense
534  MMAQ4   Minasmáquinas

[535 rows x 2 columns]

In [6]:
df_chatgpt = pd.read_excel("E:/WorkSpace/Análise exploratória/analise_exploratoria/acoes.xlsx", sheet_name="Chatgpt")
df_chatgpt

             Empresa            Segmento  Idade (anos)
0           Usiminas          Siderurgia            60
1      CSN Mineração           Mineração            10
2          Petrobras      Petróleo e Gás            69
3             Suzano    Papel e Celulose            98
4       CPFL Energia             Energia           109
..               ...                 ...           ...
75  Carrefour Brasil              Varejo            36
76       Casas Bahia              Varejo            70
77          Localiza   Aluguel de Carros            49
78               CVC             Turismo            50
79               GOL  Transporte (Aéreo)            21

[80 rows x 3 columns]

**Selecionando subconjunto das colunas do DataFrame df_principal**

In [7]:
df_principal = df_principal[['Ativo',	'Data',	'Último (R$)',	'Var. Dia (%)']].copy()
df_principal

    Ativo       Data  Último (R$)  Var. Dia (%)
0   USIM5  1/26/2024         9.50          5.20
1   CMIN3  1/26/2024         6.82          2.40
2   PETR3  1/26/2024        41.96          2.19
3   SUZB3  1/26/2024        52.91          2.04
4   CPFE3  1/26/2024        37.10          2.03
..    ...        ...          ...           ...
76  CRFB3  1/26/2024        10.71         -2.45
77  BHIA3  1/26/2024         8.70         -2.46
78  RENT3  1/26/2024        56.24         -3.63
79  CVCB3  1/26/2024         3.07         -4.36
80  GOLL4  1/26/2024         5.92         -8.07

[81 rows x 4 columns]

**Renomeando as colunas do DataFrame df_principal**

In [8]:
df_principal = df_principal.rename(columns = {'Último (R$)' : 'valor_final', 'Var. Dia (%)' : 'var_dia_pct'}).copy()
df_principal

    Ativo       Data  valor_final  var_dia_pct
0   USIM5  1/26/2024         9.50         5.20
1   CMIN3  1/26/2024         6.82         2.40
2   PETR3  1/26/2024        41.96         2.19
3   SUZB3  1/26/2024        52.91         2.04
4   CPFE3  1/26/2024        37.10         2.03
..    ...        ...          ...          ...
76  CRFB3  1/26/2024        10.71        -2.45
77  BHIA3  1/26/2024         8.70        -2.46
78  RENT3  1/26/2024        56.24        -3.63
79  CVCB3  1/26/2024         3.07        -4.36
80  GOLL4  1/26/2024         5.92        -8.07

[81 rows x 4 columns]

**Adicionando colunas ao DataFrame**

* Porcentagem
* Valor inicial

In [9]:
df_principal['Var_pct'] =  df_principal['var_dia_pct'] / 100
df_principal['valor_inicial'] = df_principal['valor_final'] / (df_principal['Var_pct'] + 1)
df_principal

    Ativo       Data  valor_final  var_dia_pct  Var_pct  valor_inicial
0   USIM5  1/26/2024         9.50         5.20   0.0520       9.030418
1   CMIN3  1/26/2024         6.82         2.40   0.0240       6.660156
2   PETR3  1/26/2024        41.96         2.19   0.0219      41.060769
3   SUZB3  1/26/2024        52.91         2.04   0.0204      51.852215
4   CPFE3  1/26/2024        37.10         2.03   0.0203      36.361854
..    ...        ...          ...          ...      ...            ...
76  CRFB3  1/26/2024        10.71        -2.45  -0.0245      10.978985
77  BHIA3  1/26/2024         8.70        -2.46  -0.0246       8.919418
78  RENT3  1/26/2024        56.24        -3.63  -0.0363      58.358410
79  CVCB3  1/26/2024         3.07        -4.36  -0.0436       3.209954
80  GOLL4  1/26/2024         5.92        -8.07  -0.0807       6.439682

[81 rows x 6 columns]

**Merge**

Mescla os DataFrames df_principal e df_total_acoes com base nas colunas 'Ativo' de df_principal e 'Código' de df_total_acoes

In [10]:
df_principal = df_principal.merge(df_total_acoes, left_on = 'Ativo', right_on = 'Código', how = 'left')
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Código,Qtde. Teórica
0,USIM5,1/26/2024,9.50,5.20,0.0520,9.030418,USIM5,5.151174e+08
1,CMIN3,1/26/2024,6.82,2.40,0.0240,6.660156,CMIN3,1.110559e+09
2,PETR3,1/26/2024,41.96,2.19,0.0219,41.060769,PETR3,2.379878e+09
3,SUZB3,1/26/2024,52.91,2.04,0.0204,51.852215,SUZB3,6.834528e+08
4,CPFE3,1/26/2024,37.10,2.03,0.0203,36.361854,CPFE3,1.877325e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-0.0245,10.978985,CRFB3,5.339906e+08
77,BHIA3,1/26/2024,8.70,-2.46,-0.0246,8.919418,BHIA3,9.484305e+07
78,RENT3,1/26/2024,56.24,-3.63,-0.0363,58.358410,RENT3,8.532023e+08
79,CVCB3,1/26/2024,3.07,-4.36,-0.0436,3.209954,CVCB3,5.255828e+08
80,GOLL4,1/26/2024,5.92,-8.07,-0.0807,6.439682,GOLL4,1.981849e+08

**Removendo a coluna 'Código' do DataFrame para retirar duplicidade**

In [11]:
df_principal = df_principal.drop(columns = ['Código'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtde. Teórica
0,USIM5,1/26/2024,9.50,5.20,0.0520,9.030418,5.151174e+08
1,CMIN3,1/26/2024,6.82,2.40,0.0240,6.660156,1.110559e+09
2,PETR3,1/26/2024,41.96,2.19,0.0219,41.060769,2.379878e+09
3,SUZB3,1/26/2024,52.91,2.04,0.0204,51.852215,6.834528e+08
4,CPFE3,1/26/2024,37.10,2.03,0.0203,36.361854,1.877325e+08
...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-0.0245,10.978985,5.339906e+08
77,BHIA3,1/26/2024,8.70,-2.46,-0.0246,8.919418,9.484305e+07
78,RENT3,1/26/2024,56.24,-3.63,-0.0363,58.358410,8.532023e+08
79,CVCB3,1/26/2024,3.07,-4.36,-0.0436,3.209954,5.255828e+08
80,GOLL4,1/26/2024,5.92,-8.07,-0.0807,6.439682,1.981849e+08

**Nova coluna com a variação de valor em reais**

In [12]:
df_principal['Variacao_rs'] =  (df_principal['valor_final'] - df_principal['valor_inicial']) * df_principal['Qtde. Teórica']
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtde. Teórica,Variacao_rs
0,USIM5,1/26/2024,9.50,5.20,0.0520,9.030418,5.151174e+08,2.418897e+08
1,CMIN3,1/26/2024,6.82,2.40,0.0240,6.660156,1.110559e+09,1.775160e+08
2,PETR3,1/26/2024,41.96,2.19,0.0219,41.060769,2.379878e+09,2.140059e+09
3,SUZB3,1/26/2024,52.91,2.04,0.0204,51.852215,6.834528e+08,7.229463e+08
4,CPFE3,1/26/2024,37.10,2.03,0.0203,36.361854,1.877325e+08,1.385740e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-0.0245,10.978985,5.339906e+08,-1.436355e+08
77,BHIA3,1/26/2024,8.70,-2.46,-0.0246,8.919418,9.484305e+07,-2.081024e+07
78,RENT3,1/26/2024,56.24,-3.63,-0.0363,58.358410,8.532023e+08,-1.807433e+09
79,CVCB3,1/26/2024,3.07,-4.36,-0.0436,3.209954,5.255828e+08,-7.355741e+07
80,GOLL4,1/26/2024,5.92,-8.07,-0.0807,6.439682,1.981849e+08,-1.029932e+08

**Rename das colunas**

* Quantidade teórica
* Variação em reais

In [13]:
df_principal = df_principal.rename(columns = {'Qtde. Teórica' : 'Qtd_teorica', 'Variacao_rs' : 'Variacao_reias'}).copy()
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_reias
0,USIM5,1/26/2024,9.50,5.20,0.0520,9.030418,5.151174e+08,2.418897e+08
1,CMIN3,1/26/2024,6.82,2.40,0.0240,6.660156,1.110559e+09,1.775160e+08
2,PETR3,1/26/2024,41.96,2.19,0.0219,41.060769,2.379878e+09,2.140059e+09
3,SUZB3,1/26/2024,52.91,2.04,0.0204,51.852215,6.834528e+08,7.229463e+08
4,CPFE3,1/26/2024,37.10,2.03,0.0203,36.361854,1.877325e+08,1.385740e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-0.0245,10.978985,5.339906e+08,-1.436355e+08
77,BHIA3,1/26/2024,8.70,-2.46,-0.0246,8.919418,9.484305e+07,-2.081024e+07
78,RENT3,1/26/2024,56.24,-3.63,-0.0363,58.358410,8.532023e+08,-1.807433e+09
79,CVCB3,1/26/2024,3.07,-4.36,-0.0436,3.209954,5.255828e+08,-7.355741e+07
80,GOLL4,1/26/2024,5.92,-8.07,-0.0807,6.439682,1.981849e+08,-1.029932e+08

**Format na exibição dos números float**

**Convert para Int na exibição da quantidade teórica**

In [14]:
pd.options.display.float_format = '{:.2f}'.format
df_principal['Qtd_teorica'] = df_principal['Qtd_teorica'].astype(int)
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_reias
0,USIM5,1/26/2024,9.50,5.20,0.05,9.03,515117391,241889725.43
1,CMIN3,1/26/2024,6.82,2.40,0.02,6.66,1110559345,177515970.30
2,PETR3,1/26/2024,41.96,2.19,0.02,41.06,-2147483648,2140059393.53
3,SUZB3,1/26/2024,52.91,2.04,0.02,51.85,683452836,722946282.71
4,CPFE3,1/26/2024,37.10,2.03,0.02,36.36,187732538,138573955.06
...,...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-0.02,10.98,533990587,-143635530.57
77,BHIA3,1/26/2024,8.70,-2.46,-0.02,8.92,94843047,-20810240.84
78,RENT3,1/26/2024,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46
79,CVCB3,1/26/2024,3.07,-4.36,-0.04,3.21,525582771,-73557408.06
80,GOLL4,1/26/2024,5.92,-8.07,-0.08,6.44,198184909,-102993202.62

**Nova coluna no DataFrame**

Indica se ocorreu um aumento, redução ou se o valor permaneceu estável com base na coluna de Variação em Reais

In [16]:
df_principal['Resultado'] = df_principal['Variacao_reias'].apply(lambda x: 'Subiu' if x > 0 else ('Desceu' if x < 0 else 'Estável'))
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_reias,Resultado
0,USIM5,1/26/2024,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu
1,CMIN3,1/26/2024,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu
2,PETR3,1/26/2024,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu
3,SUZB3,1/26/2024,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu
4,CPFE3,1/26/2024,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu
...,...,...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu
77,BHIA3,1/26/2024,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu
78,RENT3,1/26/2024,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu
79,CVCB3,1/26/2024,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu
80,GOLL4,1/26/2024,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu

**Merge**

Com base nas colunas 'Ativo' e 'Ticker'

Juntamente do drop para evitar duplicidade no dataframe.

In [17]:
df_principal = df_principal.merge(df_ticker, left_on = 'Ativo', right_on = 'Ticker', how = 'left')
df_principal = df_principal.drop(columns = ['Ticker'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_reias,Resultado,Nome
0,USIM5,1/26/2024,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas
1,CMIN3,1/26/2024,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração
2,PETR3,1/26/2024,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras
3,SUZB3,1/26/2024,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano
4,CPFE3,1/26/2024,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia
...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,1/26/2024,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil
77,BHIA3,1/26/2024,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia
78,RENT3,1/26/2024,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza
79,CVCB3,1/26/2024,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC
80,GOLL4,1/26/2024,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL

**Merge**
**Drop**
**Rename**

In [18]:
df_principal = df_principal.merge(df_chatgpt, left_on = 'Nome', right_on = 'Empresa', how = 'left')
df_principal = df_principal.drop(columns = ['Empresa'])
df_principal = df_principal.rename(columns = {'Idade (anos)' : 'Idade_Empresa'}).copy()
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_reias,Resultado,Nome,Segmento,Idade_Empresa
0,USIM5,1/26/2024,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,60
1,CMIN3,1/26/2024,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,10
2,PETR3,1/26/2024,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,69
3,PETR3,1/26/2024,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,69
4,SUZB3,1/26/2024,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,98
...,...,...,...,...,...,...,...,...,...,...,...,...
80,CRFB3,1/26/2024,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil,Varejo,36
81,BHIA3,1/26/2024,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,70
82,RENT3,1/26/2024,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,49
83,CVCB3,1/26/2024,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,50
84,GOLL4,1/26/2024,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Transporte (Aéreo),21

**Nova coluna no DataFrame**

Expressão lambda que Categorizando a idade das empresas com base na coluna idade da empresa.

In [19]:
df_principal['Categoria_Idade'] = df_principal['Idade_Empresa'].apply(lambda x: 'Mais de Cem Anos' if x > 100 else ('Mais de Cinquenta Anos' if x > 50 else 'Menor que Cinquenta Anos'))
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_reias,Resultado,Nome,Segmento,Idade_Empresa,Categoria_Idade
0,USIM5,1/26/2024,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,60,Mais de Cinquenta Anos
1,CMIN3,1/26/2024,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,10,Menor que Cinquenta Anos
2,PETR3,1/26/2024,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,69,Mais de Cinquenta Anos
3,PETR3,1/26/2024,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,69,Mais de Cinquenta Anos
4,SUZB3,1/26/2024,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,98,Mais de Cinquenta Anos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,CRFB3,1/26/2024,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil,Varejo,36,Menor que Cinquenta Anos
81,BHIA3,1/26/2024,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,70,Mais de Cinquenta Anos
82,RENT3,1/26/2024,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,49,Menor que Cinquenta Anos
83,CVCB3,1/26/2024,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,50,Menor que Cinquenta Anos
84,GOLL4,1/26/2024,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Transporte (Aéreo),21,Menor que Cinquenta Anos