In [21]:
import pandas as pd
import re

In [33]:
df_endereco = pd.read_excel("E:/WorkSpace/Análise exploratória/analise_exploratoria/logradouros.xlsx", sheet_name="Logradouro")
df_endereco

                           Logradouro
0         Rua dos Ipês, 123  apto 101
1          Avenida das Palmeiras, 456
2          Rua das Flores, 789 casa 2
3         Alameda dos Eucaliptos, 321
4   Avenida dos Girassóis, 654 sala 3
..                                ...
90               Rua dos Manacás, 258
91            Alameda dos Lírios, 963
92          Avenida das Azaleias, 741
93   Rua dos Bromélias, 258 apto 1313
94               Alameda das Begônias

[95 rows x 1 columns]

In [34]:
# Função para extrair apenas o nome do logradouro
def extrair_nome_logradouro(logradouro):
    import re
    padrao = r'^(.*?)(?=,|\d|-|$)'  # Regex para capturar até a primeira vírgula, número ou hífen
    match = re.match(padrao, logradouro)
    if match:
        return match.group(0).strip()
    else:
        return logradouro

df_endereco['Endereço'] = df_endereco['Logradouro'].apply(extrair_nome_logradouro)

df_endereco.to_excel("Download/sheets/endereço.xlsx", index=True)
print(df_endereco)

                           Logradouro                Endereço
0         Rua dos Ipês, 123  apto 101            Rua dos Ipês
1          Avenida das Palmeiras, 456   Avenida das Palmeiras
2          Rua das Flores, 789 casa 2          Rua das Flores
3         Alameda dos Eucaliptos, 321  Alameda dos Eucaliptos
4   Avenida dos Girassóis, 654 sala 3   Avenida dos Girassóis
..                                ...                     ...
90               Rua dos Manacás, 258         Rua dos Manacás
91            Alameda dos Lírios, 963      Alameda dos Lírios
92          Avenida das Azaleias, 741    Avenida das Azaleias
93   Rua dos Bromélias, 258 apto 1313       Rua dos Bromélias
94               Alameda das Begônias    Alameda das Begônias

[95 rows x 2 columns]

In [36]:
# Função para extrair o número do logradouro
def extrair_numero_logradouro(logradouro):
    padrao = r'\b\d+\b'  # Regex para capturar apenas números
    numeros = re.findall(padrao, logradouro)
    if numeros:
        return numeros[0]
    else:
        return None

df_endereco['Número'] = df_endereco['Logradouro'].apply(extrair_numero_logradouro)

print(df_endereco)

                           Logradouro                Endereço Número
0         Rua dos Ipês, 123  apto 101            Rua dos Ipês    123
1          Avenida das Palmeiras, 456   Avenida das Palmeiras    456
2          Rua das Flores, 789 casa 2          Rua das Flores    789
3         Alameda dos Eucaliptos, 321  Alameda dos Eucaliptos    321
4   Avenida dos Girassóis, 654 sala 3   Avenida dos Girassóis    654
..                                ...                     ...    ...
90               Rua dos Manacás, 258         Rua dos Manacás    258
91            Alameda dos Lírios, 963      Alameda dos Lírios    963
92          Avenida das Azaleias, 741    Avenida das Azaleias    741
93   Rua dos Bromélias, 258 apto 1313       Rua dos Bromélias    258
94               Alameda das Begônias    Alameda das Begônias   None

[95 rows x 3 columns]

In [37]:
# Função para extrair o complemento do logradouro
def extrair_complemento_logradouro(logradouro):
    padrao = r',\s*(.*$)'  # Regex para capturar o que vem após a última vírgula
    match = re.search(padrao, logradouro)
    if match:
        return match.group(1).strip()
    else:
        return None

df_endereco['Complemento'] = df_endereco['Logradouro'].apply(extrair_complemento_logradouro)

print(df_endereco)

                           Logradouro                Endereço Número  \
0         Rua dos Ipês, 123  apto 101            Rua dos Ipês    123
1          Avenida das Palmeiras, 456   Avenida das Palmeiras    456
2          Rua das Flores, 789 casa 2          Rua das Flores    789
3         Alameda dos Eucaliptos, 321  Alameda dos Eucaliptos    321
4   Avenida dos Girassóis, 654 sala 3   Avenida dos Girassóis    654
..                                ...                     ...    ...
90               Rua dos Manacás, 258         Rua dos Manacás    258
91            Alameda dos Lírios, 963      Alameda dos Lírios    963
92          Avenida das Azaleias, 741    Avenida das Azaleias    741
93   Rua dos Bromélias, 258 apto 1313       Rua dos Bromélias    258
94               Alameda das Begônias    Alameda das Begônias   None

      Complemento
0   123  apto 101
1             456
2      789 casa 2
3             321
4      654 sala 3
..            ...
90            258
91            963
92            741
93  258 apto 1313
94           None

[95 rows x 4 columns]